body{
    background-color: darkmagenta;
}
.Login{
    background-color: white;
    height: 90vh;
    width: 90vh;
    display:grid;
    place-items: center;
    border-color: #CEB06e;
    border-style: solid;
    
    
}
.Login_Container{
    
    padding: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 3px black , 0 ,1px;
    
    
   


}

.Login_Container > Button{
    margin-top: 30px;
    background-color: #CEB06E;
}
.Login_Container img{
    background-color: black;
}